#MyProfile{
    color:black;

}
body{
    background-image: url("C://Users/userDesktop/webpage/mm.jpg");
}
img{
    border-radius: 70%;
}
.box{
    width: 250px;
    padding: 40px;
    text-align: left;
    margin:auto;
}
 button{
     color: black;
     
 }